<launch>
  <master auto="start"/>
  
  <!-- Publish static tf -->
  <include file="$(find roborts_bringup)/launch/include/static_tf.launch" />

  <!-- Run the Base Node -->
  <node pkg="car_driver" type="car_driver" name="car_driver" />

  <!-- Run the lidar node -->
  <include file="$(find roborts_bringup)/launch/include/ls01g.launch"/>

  <!-- Run the Imu Node -->
  <include file="$(find art_imu)/launch/imu.launch"/>  
  
</launch>

