<launch>
  <master auto="start"/>
  <arg name="map" value="214_8_1"/>

  <!-- <include file="$(find roborts_bringup)/launch/base.launch" /> -->

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find roborts_bringup)/maps/$(arg map).yaml" respawn="false" />
  <!--rf2o_Laser_Odometry-->
  <include file="$(find roborts_bringup)/launch/include/rf2o.launch.xml" />

  <!-- Robot_Localization -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find roborts_bringup)/launch/include/ekf_params.yaml" />
  </node>

  <!-- Localization -->
  <!-- for amcl -->
  <arg name="init_x" default="0.0" />
  <arg name="init_y" default="0.0" />
  <arg name="init_a" default="0.0" />
  <!-- AMCL -->
  <include file="$(find art_racecar)/launch/includes/amcl.launch.xml">
    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="$(arg init_y)"/>
    <arg name="init_a" value="$(arg init_a)"/>
  </include>

  <!-- Run the global planner node -->
  <node pkg="roborts_planning" type="global_planner_node" name="global_planner_node" respawn="false" />

  <!-- Run the local planner node -->
  <node pkg="roborts_planning" type="local_planner_node" name="local_planner_node" respawn="false">
    <remap from="/odom" to="/odometry/filtered"/>
  </node>
`
  <node pkg="roborts_decision" type="behavior_test_node" name="behavior_test_node" respawn="false" />

  <!-- L1 controller -->
  <!-- <node pkg="art_racecar" type="art_car_controller" respawn="false" name="art_car_controller" output="screen"> -->
  <node pkg="hypha_racecar" type="L1_controller_v2" name="L1_controller_v2" respawn="false" output="screen">
    <!-- L1 -->
    <param name="Vcmd" value="1.6" />
    <param name="controller_freq" value="40"/>

    <!-- ESC -->
    <!-- speed of car m/s -->
    <param name="baseSpeed" value="5220"/>
    <!-- speed when car start -->
    <param name="startSpeed" value="5100"/>

    <!-- Servo -->
    <param name="baseAngle" value="85.0"/>
    <!-- the middle pos of servo, for tt02: 97, for hsp: ? -->
    <param name="AngleGain" value="-3.5"/>
    <!-- for tt02: >0, for hsp: <0 -->
    <param name="GasGain" value="0.7"/>
    <!-- for tt02: >0, for hsp: <0 -->

    <!-- Topic -->
    <!-- odom from ekf -->
    <remap from="/odom" to="/odometry/filtered"/>
    <!-- plan form local_plan -->
    <remap from="/move_base_node/NavfnROS/plan" to="/local_planner_node/trajectory" />
    <!-- plan form global_plan -->
    <!-- <remap from="/move_base_node/NavfnROS/plan" to="/global_planner_node/path"/> -->
  </node>

</launch>

