<launch>
  <master auto="start"/>
  <arg name="map" value="214_8_1"/>

  <!-- <include file="$(find roborts_bringup)/launch/base.launch" /> -->

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find roborts_bringup)/maps/$(arg map).yaml" respawn="false" />
  <!--rf2o_Laser_Odometry-->
  <include file="$(find roborts_bringup)/launch/include/rf2o.launch.xml" />

  <!-- Robot_Localization -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find roborts_bringup)/launch/include/ekf_params.yaml" />
  </node>

  <!-- Localization -->
  <!-- for amcl -->
  <arg name="init_x" default="0.0" />
  <arg name="init_y" default="0.0" />
  <arg name="init_a" default="0.0" />
  <!-- AMCL -->
  <include file="$(find art_racecar)/launch/includes/amcl.launch.xml">
    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="$(arg init_y)"/>
    <arg name="init_a" value="$(arg init_a)"/>
  </include>

  <!-- Run the global planner node -->
  <node pkg="roborts_planning" type="global_planner_node" name="global_planner_node" respawn="false" />

  <!-- Run the local planner node -->
  <node pkg="roborts_planning" type="local_planner_node" name="local_planner_node" respawn="false">
    <remap from="/odom" to="/odometry/filtered"/>
  </node>

  <!-- Run the decision node -->
  <node pkg="roborts_decision" type="behavior_test_node" name="behavior_test_node" respawn="false" />

  <!--  Run the MPC Node  -->
  <node name="MPC_Node" pkg="hypharos_minicar" type="MPC_Node" output="screen">
    <!-- load params -->
    <rosparam file="$(find roborts_bringup)/launch/include/mpc_params.yaml" command="load" />
    <!-- odom from ekf -->
    <remap from="/odom" to="/odometry/filtered"/>
  </node>

</launch>

