<launch>
  <master auto="start"/>
  <rosparam command="load" file="$(find roborts_base)/config/roborts_base_parameter.yaml" />

  <!-- <include file="$(find roborts_bringup)/launch/include /art_car_tf.launch.xml" /> -->
  
  <!-- Publish static tf -->
  <include file="$(find roborts_bringup)/launch/include/static_tf.launch" />

  <!-- Run the lidar node -->
  <include file="$(find roborts_bringup)/launch/include/ls01g.launch"/>

  <!-- Run the Imu Node -->
  <include file="$(find art_imu)/launch/imu.launch"/>  

  <node name="map_server" pkg="map_server" type="map_server" args="$(find roborts_bringup)/maps/game.yaml" respawn="false" />
  
  <!-- Run the rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find roborts_bringup)/rviz/roborts.rviz" />

</launch>
